/* HERO WRAPPER */
.hero {
  position: relative;
  /* min-height: 100svh; */
  overflow: hidden;
}

/* BACKGROUND IMAGE */
.heroImage {
  object-fit: cover;
  z-index: -1;
}

/* OVERLAY */
.heroCards {
  position: relative;
  height: 100%;
  padding: clamp(1rem, 4vw, 3rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* TOP BADGE */
.heroCardsTop {
  align-self: center;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 999px;
  font-weight: 600;
}

/* ROW */
.heroCardsRow {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  align-items: stretch;
}

/* LEFT CARD */
/* See card.module.css */

/* RIGHT FLOATING */
.heroCardsRight {
  padding-top: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  animation: floatUpDown 4s ease-in-out infinite;
}

/* RATING */
.rating {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 16px;
}

.ratingItems {
  display: flex;
  gap: 12px;
  align-items: center;
}

.ratingNumber {
  font-size: 1.8rem;
  font-weight: bold;
}

/* CONSULT */
.consultContainer {
  width: 60px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
  border: 2px solid #c5b28a;
}

/* FLOAT */
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(0);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .heroCardsRow {
    grid-template-columns: 1fr;
  }

  .heroCardsRight {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: none;
    margin-top: -80px;
    animation: floatUpDown 4s ease-in-out infinite;
  }

  .heroCardsTop {
    font-size: 0.9rem;
  }
}